body, h1, .btn{
    font-family: "Helvetica", sans-serif;
}

.registerbtn {
    background-color: black;
    border: none;
    text-align: center;
    float: right;
}
.loginbtn {
    background-color: black;
    border: none;
    text-align: center;
    float: left;
}

